$brand-color: #af4446;

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
}

body {
  background-color: $brand-color;
  font: 16px/1.7 sans-serif;
  letter-spacing: .5px;
  margin: 0;
  height: 100%;
  width: 100%;
}

#map-canvas {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}

.menu {
  background: #fff;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  overflow-y: auto;
  width: 362px;
}

.close-btn {
  color: $brand-color;
  font-size: 1.2rem;
  position: absolute;
  left: 340px;
  text-decoration: none;
}

.location-filtering {
  height: 40px;
  width: 100%;
  font-size: 1rem;
  padding: 5px 8px;
  margin-bottom: 1rem;
}
